.feature-section {
   padding-bottom: 47px;
   padding-top: 94px;
}

.feature-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   margin-bottom: 10px;
}

.feature-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
}

.feature-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.feature-list-item {
   flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-icon-box {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   padding: 25px 100px;
   background-color: var(--button-secondary-bg-color);
}